body {
    font-size: 14px; /* This sets the base font-size for my document */
    font-family: Arial, Helvetica, sans-serif; /* This sets the base font family for the document */
    }

    .intro {
        color: blue;
        font-weight: bold; 
        font-style: italic;
        font-size: 1.25em; /* This makes my intro text 1.5x the size of my base (14px * 1.5 = 21px) */
        text-indent: 4em; /* This indents the text in my intro by 4x the base font (14px * 4 = 56px) */
        }
        
        #copyright {
        color: #cccccc;
        font-size: .8em; /* This makes my copyright section text .8x the size of my base (14px * .8 = 11.2px, rounds down to 11px) */
        }
        
        img:hover {
        border: 2px dashed red; /* This makes it so that images have a red border when they are hovered */
        }
        
        .text-emphasis {
        color: red;
        font-weight: bold;
        text-decoration: underline;
        }